.header-wrapper {
    display: flex;
    box-sizing: border-box;
    height: 50px;
    padding: 0 10px;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: white;
    left: 0;
}
.profile-wrapper p {
    margin: 0;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
}
.profile-wrapper img {
    width: 30px;
}
.profile-wrapper {
    display: flex;
    cursor: pointer;
    height: inherit;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.dropdown-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 8px;
    right: 0;
    padding: 8px;
    top: 50px;
    background-color:var(--main);
    width: 270px;
    z-index: 100;
}

.dropdown__profile-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.dropdown__profile-wrapper img{
 width: 80px;
}
.dropdown__profile-wrapper p{
color: white;
margin: 0;
font-family: 'Poppins', sans-serif;
   }

.text-role, .text-email{
    font-size: 0.8em;
    font-weight: 200;
}
.dropdown__button-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper[disabled]{
    pointer-events: none;
   
}