.bg {
    background-color: white !important;
}

.nav-item {
    cursor: pointer;
}

.column-wrapper {
    flex-wrap: nowrap;
}

.link {
    text-decoration: none;
}

.color:hover {
    background-color: blue;
    border-radius: 5px;
}

.bg-ul {
    background-color: white;
    border-radius: 3px;
}

.sidebar-wrapper {
    background-color: aquamarine;
    height: 100px;
    z-index: 20;
    overflow-y: hidden;
}

.sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.brand-name {
    display: flex;
    justify-content: center;

    align-items: center;
}

.brand-name__image-wrapper {
    width: 100px;
    height: 100px;
    flex: 1;
    overflow: hidden;
}

.brand-name__image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.link.color:hover {
    background-color: #e0f4ff;
    /*will change background-color of element on hover */
    color: white;
    /*will change color of text within the element on hover */
}
