.wrapper-login {
    padding: 1rem;
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    align-items: center;
}
.container-login {
    display: flex;
    flex: 1;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20%;
    box-sizing: border-box;
    align-items: center;
}
.left-wrapper {
    flex: 1;
    display: flex;
    border-bottom-left-radius: 3%;
    border-top-left-radius: 3%;
    flex-direction: column;
    background-color: var(--main);
    height: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.left-wrapper .logo-wrapper {
    width: 250px;
    border-radius: 50%;
}
.logo-wrapper > img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.right-wrapper {
    flex: 1;
    display: flex;
    height: 100%;
    background-color: var(--main);
    border-bottom-right-radius: 3%;
    border-top-right-radius: 3%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.right__container {
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}
.right__inner-wrapper {
    display: flex;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: white;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    flex: 1;
    padding: 48px;
}

.right__inner-wrapper .login-subtitle {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: start;
    margin-bottom: 1.5rem;
    color: darkgray;
}

.login-title {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
}
.password-wrapper {
    position: relative;
    display: flex;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.button-login {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main);
    border-color: var(--main);
}
.button-login:hover {
    background-color: white;
    color: black;
    font-weight: bold;

    border-color: var(--main);
}
.form-wrapper > form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.left-wrapper h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
}
