@import '../../../../component//ActionButton/css/SearchInput.css';

.status {
    padding: 4px;
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
}
.status.active {
    background-color: #4c9a2a;
    color: white;
}
.status.not-active {
    background-color: #ed2939;
    color: white;
}
