.button-setting-tarif {
    gap: 1rem;
    width: 100%;
    font-size: 12px;
}

.section-title {
    font-size: 0.8rem;
    font-weight: bold;
}

.label-form {
    font-size: 12px;
    font-weight: bold;
}
