@import '../../../src/component/ActionButton/css/SearchInput.css';
@import '../Keuangan/PembayaranSiswa/css/pembayaranSiswa.css';
@import '../KasBank/KirimTagihan/css/kirimTagihan.css';
@import '../CekDataTagihanSiswa/css//dataTagihanSiswa.css';

.page-content {
    padding: 5px;
    margin: 10px;
    flex: auto;
    flex-direction: column;
}

.table-content {
    padding: 20px;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
}

.search {
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(9, 24, 224) 1px;
}

.sub-content {
    padding: 10px;
    border-radius: 10px;
    border-top: solid 5px var(--dark-content);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
}

.button-cetak {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 5px;
}
