@import '../../../src/component/ActionButton/css/SearchInput.css';

.page-content {
  padding: 5px;
  margin: 10px;
  flex: auto;
  flex-direction: column;

}

.table-content {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search {
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgb(9, 24, 224) 1px;
}