.not-found {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.not-found img {
    width: 100%;
}
.not-found h1 {
    text-align: center;
}

.not-found h3 {
    text-align: center;
}

.img-notfound {
    width: 30%;
    margin: auto;
}
